{% load static %}
<!DOCTYPE html>
<html>
<head><title>Home page</title>
    <link ref="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" >
    <style>
        li{
            font-size: larger;
            counter-increment: section;
            content: "Section " counter(section) ": ";
        }        
    </style>

</head>
<body>
   
    <h1><p>This is the homepage</p></h1>
    <img src={% static 'images/kasm.png' %}>
    <ul>
        {% for bank in banks %}
        <li>{{bank}}</li>
        {% endfor %}
    </ul>
</body>
</html>